.mobile-app-wrapper {
    background-image: url(/assets/images/eid-adha/bg-pattern-3.png);
    background-size: 420px 420px;
    background-repeat: repeat;
}


.desktop-bg {
    background: url("/assets/images/eid-adha/bg-side.jpg") !important;
    align-items: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    display: flex !important;
    flex: 1 1 !important;
    justify-content: center !important;
    position: relative !important;
    padding: 0px !important;
}

.logo {
    background-image: url(/assets/images/eid-adha/header-pattern-3.png) !important;
    background-size: 150px 80px;
    background-position: 0px -2px;
    background-repeat: repeat-x;
}

.overlay-img {
    position: absolute;
    width: 100%;
    right: 0px;

}

.ramadan-gradient {
    border-radius: 15px;
    background: linear-gradient(180deg, rgb(0 0 0 / 20%) 0%, rgba(0, 212, 255, 0) 100%);
}

.eid-adha-loader {
    background-image: url(/assets/images/eid-adha/eid-adha-loader.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    animation: fadeIn 1s ease-out infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* 
.thumbnail-wrapper {


    img {
        -webkit-mask-image: url(/assets/images/ramadan/shape3.png);
        mask-image: url(/assets/images/ramadan/shape3.png);
        mask-repeat: no-repeat;
        mask-size: cover;
        height: auto !important;

    }
} */
.card-img {
    -webkit-mask-image: url(/assets/images/eid-adha/carousel-icon.png);
    mask-image: url(/assets/images/eid-adha/carousel-icon.png);
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
}



/* ======================================== */
.category-carousel-buttons {
    /* background-image: url(/assets/images/eid-adha/header-pattern.svg) !important; */
    background-size: 60px 100px;
    background-position: top;
    background-repeat: repeat;
}