.mobile-app-wrapper {
    background-image: url(/assets/images/ramadan/ramadan-bg20.png);
    background-size: 220px 220px;
    background-repeat: repeat;
}

.desktop-bg {
    background: url("/assets/images/ramadan/bg-side.jpg") !important;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex: 1 1;
    justify-content: center;
    position: relative;
    padding: 0px !important;
}