/*  Theme Responsive Css */

@media only screen and (max-width: 5000px) {}


@media only screen and (max-width: 1599px) {}

@media only screen and (max-width: 1400px) {}


@media only screen and (max-width: 1300px) {}

@media only screen and (max-width: 1200px) {}



@media only screen and (max-width: 991px) {}


@media only screen and (max-width: 767px) {
    .app {
        justify-content: center;
        background-color: var(--main-bg-color);
    }

    .mobile-app-wrapper {
        background-color: var(--main-bg-color);
        box-shadow: 0px 0px 7px #afafaf;
        width: 100% !important;
    }

    .products {}

    .desktop-bg {
        display: none !important;
    }

    .routing-bar {
        width: 100% !important;
    }
}

@media only screen and (max-width: 677px) {}

@media only screen and (max-width: 585px) {}

@media only screen and (max-width: 576px) {}


@media only screen and (max-width: 499px) {}