/*Themes */
:root {
  --main-bg-color: rgb(255, 255, 255);
  --main-color: rgb(102, 44, 121);
  --hover-color: rgb(248 218 255);
  --main-text: rgb(0, 0, 0);
}

.red-theme {
  --main-bg-color: rgb(255, 255, 255);
  --main-color: rgb(213, 17, 17);
  --hover-color: rgb(255, 218, 218);
  --main-text: rgb(0, 0, 0);
}

/* style home page */
a {
  text-decoration: none;
  color: var(--main-text);
}

.app {
  height: 100vh;
  margin: 0;

  .mobile-app-wrapper {
    width: 400px !important;
    height: 100%;
    min-height: 100vh;
    overflow-y: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f136;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--hover-color);
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: var(--main-color);
    }

    .mobile-app {
      .logo {}

      .home-page {

        /* search */
        .search {
          .searchBar {}

          #searchQueryInput {

            height: 2.8rem;
            background: #f5f5f5;
            outline: none;
            border: none;
            border-radius: 1.625rem;
            padding: 0 3.5rem 0 1.5rem;
            font-size: 1rem;
          }

          #searchQuerySubmit {
            position: absolute;
            right: 327px;
            width: 3.5rem;
            height: 2.8rem;
            /* margin-left: -3.5rem; */
            background: none;
            border: none;
            outline: none;
          }

          #searchQuerySubmit:hover {
            cursor: pointer;
          }
        }

        /* categories */
        .categories {
          .head-line {
            h6 {}

            a {
              font-size: 12px;
              font-weight: 500;
            }
          }

          .items {
            .item {
              a {
                img {
                  aspect-ratio: 1;
                  border-radius: 7px;
                  object-fit: cover;
                  height: auto;
                  max-width: 100%;
                  width: 100%;
                }

                h6 {}
              }
            }
          }
        }
      }

      /* Routing */
      .routing-bar {
        bottom: 0;
        right: 0;
        position: sticky;
        z-index: 1000;
        background-color: var(--main-bg-color);

        div {
          &:hover {
            background-color: var(--hover-color);
          }

          a {
            margin-block: 5px;
            color: var(--main-color);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            i {
              font-size: 20px;
            }

            p {
              margin: 0 !important;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .desktop-bg {
    background: url("/assets/images/dinner-table-salads-steaks-fries_140725-9517.jpg");
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex: 1 1;
    justify-content: center;
    position: relative;
  }
}