/* Themes

/* fonts */

@font-face {
  font-family: tajwal-regular;
  /* src: url("/assets/fonts/Tajawal-Regular.ttf"); */
  /* src: url("/assets/fonts/JF-Flat-Regular.ttf"); */
  /* src: url("/assets/fonts/alfont_com_Jozoor-Font-2.otf"); */
  src: url("/assets/fonts/JF/ArbFONTS-JF\ Flat\ Regular.otf");
}

@font-face {
  font-family: tajwal-bold;
  /* src: url("/assets/fonts/Tajawal-Bold.ttf"); */
  /* src: url("/assets/fonts/JF-Flat-Regular.ttf"); */
  src: url("/assets/fonts/alfont_com_خط-جذور-فلات-عريض.ttf");
}



/* style home page */
a {
  text-decoration: none;
  color: var(--main-text);
}

body {
  background-color: var(--main-bg-color);

  transition: 2s !important;
}

/* Scroll to Top Button */
#scrollToTopBtn {
  width: 40px;
  height: 40px;
  position: sticky;
  bottom: 20%;
  right: 90%;
  display: none;
  /* Hidden initially */
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
}


.hide-carousel img.carousel-image {
  display: none !important;

}

.hide-carousel-img {
  display: none;
}

.app {
  height: 100vh;
  margin: 0;
  font-family: var(--regular-font);

  .mobile-app-wrapper {
    /* width: 400px !important; */
    height: 100%;
    min-height: 100vh;
    overflow-y: auto;

    /* width */
    /* &::-webkit-scrollbar {
      width: 10px;
    } */

    /* Track */
    /* &::-webkit-scrollbar-track {
      background: #f1f1f136;
    } */

    /* Handle */
    /* &::-webkit-scrollbar-thumb {
      background: var(--hover-color);
      border-radius: 10px;
    } */

    /* Handle on hover */
    /* &::-webkit-scrollbar-thumb:hover {
      background: var(--main-color);
    } */

    .mobile-app {
      .logo {
        box-shadow: 0px 0px 3px #bdbdbd;
        height: 4rem;
        background-color: var(--main-color);

        .logo-img {
          width: 90px;
        }


        .back-btn {
          color: var(--main-color);



          i {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
          }
        }

        .back-btn:active {
          outline: none;
          border: none;
        }
      }

      .home-page {

        /* search */
        .search {
          .searchBar {
            background: var(--secondary-bg-color);
            border-radius: 2rem;
            box-shadow: 0px 1px 3px #eaeaea;
          }

          #searchQueryInput {
            margin: 0px;
            height: 2rem;
            background: var(--secondary-bg-color);
            outline: none;
            border: none;
            border-radius: 2rem;
            /* padding: 0 3.5rem 0 1.5rem; */
            font-size: 1rem;
          }

          #searchQuerySubmit {
            background: none;
            border: none;
            outline: none;
          }

          #searchQuerySubmit:hover {
            cursor: pointer;
          }
        }

        /* categories */
        .categories {
          margin-bottom: 50px;

          .head-line {
            h6 {
              font-family: var(--bold-font);
              color: var(--main-color);
              font-size: 1.2rem;
            }

            a {
              font-size: 12px;
              font-weight: 500;
            }
          }

          /* category-carousel-images  */
          .category-carousel-images {
            /* position: sticky; */
            top: 0;
            background-color: var(--main-bg-color);
            /* margin-inline: -20px; */

            .slick-prev,
            .slick-next {
              /* top: 30% !important; */
            }

            .slick-prev::before,
            .slick-next::before {
              font-size: 17px !important;
              color: var(--main-color) !important;
            }

            .slick-prev {
              right: -17px;

            }

            .slick-next {

              left: -17px !important;

            }

            .slick-slide {
              /* height: 45px; */
              margin-inline: 5px;

              a.selected {
                border: none;
                background-color: var(--main-color);
                color: white;
                border-radius: 5px;
                font-family: var(--regular-font);
                font-weight: 600;
                box-shadow: 0px 1px 3px 0px var(--main-color);
              }

              a {
                background-color: white;
                border-radius: 5px;
                /* height: 40px; */
                padding: 5px;
                margin-block: 5px;
                overflow: hidden;
                box-shadow: 0px 1px 3px 0px var(--main-color);
                color: var(--main-color);
                font-family: var(--regular-font);
                font-weight: 600;

                /* display: block; */
                &:active {
                  border: none;
                  background-color: var(--main-color);
                  color: white;
                }

                img {
                  border-radius: 5px;
                }




              }


            }
          }

          /* category-carousel-buttons  */
          .category-carousel-buttons {
            position: absolute;
            width: 100%;
            z-index: 50;

            top: -930px;
            transition: all 0.3s ease-in-out;
            background-color: var(--main-bg-color);

            .slick-prev,
            .slick-next {
              /* top: 30% !important; */
            }

            .slick-prev::before,
            .slick-next::before {
              font-size: 17px !important;
              color: var(--main-color) !important;
            }

            .slick-prev {
              right: -17px;

            }

            .slick-next {

              left: -17px !important;

            }

            .slick-slide {
              /* height: 45px; */
              margin-inline: 5px;

              a.selected {
                border: none;
                background-color: var(--main-color);
                color: white;
                border-radius: 5px;
                font-family: var(--regular-font);
                font-weight: 600;
                box-shadow: 0px 1px 3px 0px var(--main-color);
              }

              a {
                background-color: white;
                border-radius: 5px;
                /* height: 40px; */
                padding: 5px;
                margin-block: 5px;
                overflow: hidden;
                box-shadow: 0px 1px 3px 0px var(--main-color);
                color: var(--main-color);
                font-family: var(--regular-font);
                font-weight: 600;

                /* display: block; */
                &:active {
                  border: none;
                  background-color: var(--main-color);
                  color: white;
                }

                img {
                  border-radius: 5px;
                }




              }


            }
          }

          .items {
            .item {
              &:hover {
                cursor: pointer;
              }

              a {
                img {
                  aspect-ratio: 1;
                  border-radius: 10px;
                  object-fit: cover;
                  height: auto;
                  max-width: 100%;
                  width: 100%;
                }

                h6 {}
              }
            }
          }
        }
      }

      /* Routing */
      .routing-bar {
        bottom: 0;
        position: fixed;
        z-index: 1000;
        background-color: var(--main-bg-color);
        box-shadow: 0px 0px 3px #bdbdbd;

        div {
          &:hover {
            background-color: var(--hover-color);
          }

          a {
            margin-block: 5px;
            color: var(--main-color);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            i {
              font-size: 20px;
            }

            p {
              margin: 0 !important;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .desktop-bg {
    background: url("/assets/images/dinner-table-salads-steaks-fries_140725-9517.jpg");
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex: 1 1;
    justify-content: center;
    position: relative;
    padding: 0px !important;

    .gradient {
      background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 212, 255, 0) 100%);
      ;
    }
  }
}

/* ================================================================================ */

/* Category page*/
.category {

  .category-img {
    border-radius: 15px;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  h1 {
    font-family: var(--bold-font);
    color: var(--main-color);
  }

  .category-description {}

  .products {
    margin-bottom: 4rem;

    .product {
      background-color: var(--secondary-bg-color);
      box-shadow: 0px 1px 3px #00000030;


      img {
        width: 100%;
        object-fit: cover;
        height: 100px;
        border-radius: 5px
      }

      .product-details {
        a {
          h5 {
            font-family: var(--bold-font);
            color: var(--main-color);
            font-size: 18px;
          }

          p {
            font-size: 12px;
            color: var(--secondery-text);
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

          }
        }


      }

      .product-price {
        color: var(--main-color);

        p {
          font-family: var(--bold-font);

          /* letter-spacing: .5px; */
        }

        span {
          p {
            font-family: var(--regular-font);
          }

          .like-icon {
            cursor: pointer;
            /* font-size: 1.2rem; */

          }
        }

      }
    }
  }
}

.riyal-icon {
  fill: var(--main-color);
  width: 15px;
  height: auto;
  display: block;
}

/* ======================================================================= */
/* Icons */

.icons {
  color: var(--main-color);

  i.allergy-icon {
    cursor: pointer;
    font-size: .8rem;
    height: 20px;
    width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    margin-inline-end: 5px;
    background-color: var(--main-color);
    color: white;
  }

  i {
    cursor: pointer;
    font-size: .8rem;
    height: 20px;
    width: auto;
    padding-inline: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--main-color);
    border-radius: 13px;
    margin-inline-end: 5px;
    margin-top: 5px;

    span {
      direction: ltr;
    }
  }
}

/* ================================================================================ */

/* modal page*/
.btn-close:active {
  background-color: #ffffff00 !important;
  color: var(--main-color) !important;
}

.modal-title {
  font-family: var(--bold-font);
  color: var(--main-color);
}

.btn-close-modal {
  color: var(--secondary-bg-color);
  background-color: var(--main-color);
}

/* ================================================================================ */

/* Product-details.html page*/
.product-details {

  .product-img {
    border-radius: 15px;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  h1 {
    font-family: var(--bold-font);
    color: var(--main-color);
    margin-bottom: 1rem;
    font-size: 20px;
  }

  .product-description {}

  .product-price {
    color: white;
    font-family: var(--bold-font);
    color: var(--main-color);

    height: 30px;

    p {}

    span {
      /* font-family: var(--regular-font); */
      font-size: 16px;
    }
  }

}

.rating-btn {
  background-color: var(--main-color);
  color: white;
  font-size: 1rem;

  &:active {
    background-color: var(--main-color) !important;
    color: white !important;
    font-size: 1rem !important;
    border: none !important;
  }
}

/* rating modal */
.rating {
  display: inline-block;
  position: relative;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #919191;
}

.rating:not(:hover) label input:checked~.icon,
.rating:hover label:hover input~.icon {
  color: var(--main-color);
}

.rating label input:focus:not(:checked)~.icon:last-child {
  color: #919191;
  text-shadow: 0 0 5px var(--main-color);
}

.btn-close-review {
  color: var(--main-color) !important;
  border: 1px solid var(--main-color) !important;
}

.save-btn {
  color: var(--secondary-bg-color) !important;
  background-color: var(--main-color) !important;
}

/* ============================================================================= */
/* rating-section */
.rating-section {
  margin-bottom: 5rem;

  .card-title {
    .icon {
      color: var(--main-color);
    }
  }

  .card-text {
    font-size: .8rem;
  }
}

/* ================================================================================ */

/* offers page*/
.offers {
  margin-bottom: 70px;

  .offer-img {
    width: 100%;
    object-fit: fill;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px #4e4e4e;
  }
}

/* ================================================================================ */

/* about-us page*/

.contact-container {
  height: auto;
  margin-top: 40px;
  margin-bottom: 70px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;

  h2 {
    text-align: center;
    color: var(--main-color);
  }
}

.location-icon {
  color: var(--main-color);
  font-size: 1.5rem;

}

.contact-info {
  ul {
    li {
      font-size: .8rem;
      padding-inline-start: 5px;

      &::marker {
        content: '-';
        margin-inline-end: 5px;
        font-weight: bolder;
      }
    }
  }
}

#map {
  height: 170px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.contact-info {
  margin-top: 20px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.social-media a {
  text-decoration: none;
  font-size: 20px;
  color: #007bff;

  img {
    width: 50%;
  }
}