@use "../helpers/index" as *;



.navbar {
  background-color: rgba(255, 255, 255, 0.637) !important;
  box-shadow: 1px 2px 4px 0px #00000040;

  div {
    .navbar-brand {
      background-color: white;
      color: #701B45;
      font-family: $font-bold;
      padding-block: .5rem;
      padding-inline-start: .8rem;

      span {
        color: white;
        background-color: #701B45;
        padding: .5rem;
        padding-inline: .8rem;
      }
    }

    .navbar-collapse {
      ul {
        .active {
          font-family: $font-bold;
          color: #701B45 !important;
        }

        li {
          a {
            &:hover {
              font-family: $font-bold;
              color: #701B45 !important;
            }

            color: white !important;
            transition:.5s;
            -webkit-transition:.5s;
            -moz-transition:.5s;
            -ms-transition:.5s;
            -o-transition:.5s;
          }
        }
      }



    }
  }



}

header {
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 999;
}