@use "../helpers/index" as *;

.hero-section {
    mask-image: url(/assets/images/heroSection/Rectangle-heroSection.svg);
    mask-repeat: no-repeat;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/images/heroSection/heroSectionBG.svg);
    position: relative;
    background-size: auto;

    .left-side {
        position: relative;
        z-index: 3;

        div {
            // background: radial-gradient(55.14% 105.88% at 52.52% 30.45%, rgba(255, 255, 255, 0.5) 0%, rgba(235, 228, 192, 0.4) 65.5%, rgba(255, 255, 255, 0.75) 100%);
            background: radial-gradient(55.14% 105.88% at 52.52% 30.45%, rgba(255, 255, 255, 0.5) 0%, rgba(235, 228, 192, 0.4) 83.5%, rgba(255, 255, 255, 0.75) 140%);
            width: 555px;
            height: 289px;
            padding: 1rem;
            // box-shadow: 0px 4px 7px #0000008f;
            box-shadow: 0px 4px 4px 0px #00000040;
            border-radius: 16px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            -ms-border-radius: 16px;
            -o-border-radius: 16px;

            p {

                width: 100%;
                font-family: $font-section-bold;
                font-size: 20px;
                // font-weight: 700;
                line-height: 28.12px;
                letter-spacing: 0.09em;
                text-align: left;
            }
        }

    }

    .right-side {
        position: relative;
        z-index: 3;

        div {
            color: white;
            font-family: $font-bold;

            .presentations {
                div {
                    background-color: rgb(178 0 95 / 56%);
                    width: 230px;
                    height: 60px;

                    border-radius: 1rem;
                    -webkit-border-radius: 1rem;
                    -moz-border-radius: 1rem;
                    -ms-border-radius: 1rem;
                    -o-border-radius: 1rem;

                    i {
                        font-size: 1.3rem;
                        background-color: rgba(255, 255, 255, 0.418);
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                    }

                    p {
                        font-size: 1.2rem;
                        letter-spacing: 1.2px;
                    }
                }
            }

            .projects {
                div {
                    background-color: rgb(178 0 95 / 56%);
                    width: 230px;
                    height: 60px;

                    border-radius: 1rem;
                    -webkit-border-radius: 1rem;
                    -moz-border-radius: 1rem;
                    -ms-border-radius: 1rem;
                    -o-border-radius: 1rem;

                    i {
                        font-size: 1.3rem;
                        background-color: rgba(255, 255, 255, 0.418);
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                    }

                    p {
                        font-size: 1.2rem;
                        letter-spacing: 1.2px;
                    }
                }
            }

            .analysis {
                div {
                    background-color: rgb(178 0 95 / 56%);
                    width: 230px;
                    height: 60px;
                    border-radius: 1rem;
                    -webkit-border-radius: 1rem;
                    -moz-border-radius: 1rem;
                    -ms-border-radius: 1rem;
                    -o-border-radius: 1rem;

                    i {
                        font-size: 1.3rem;
                        background-color: rgba(255, 255, 255, 0.418);
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                    }

                    p {
                        font-size: 1.2rem;
                        letter-spacing: 1.2px;
                    }
                }
            }
        }
    }

    .shape-1 {
        position: absolute;
        width: 19%;
        z-index: 2;
        left: -1%;
        top: -1%;
        mix-blend-mode: hard-light;

    }

    .shape-2 {
        position: absolute;
        width: 24%;
        z-index: 2;
        right: 2%;
        bottom: 6%;
        mix-blend-mode: hard-light;

    }

    .section-bg {
        position: absolute;
        width: 100%;
        left: 0px;
        right: 0px;
        z-index: -1;
    }

    .gradient {
        z-index: 1;
        position: absolute;
        height: 100%;
        left: 0px;
        right: 0px;

        background: linear-gradient(#d63485a8 0%, #402B3A 100%);
    }

}