@media only screen and (max-width: 5000px) {}


@media only screen and (max-width: 1599px) {}

@media only screen and (max-width: 1400px) {}


@media only screen and (max-width: 1300px) {}

@media only screen and (min-width: 1025px) {
    .card-img {
        height: 100px !important;
    }
}



@media only screen and (max-width: 1025px) {
    .desktop-bg {
        display: none !important;
    }

    .img-wrapper {
        height: 350px !important;

        .category-img {
            height: 100% !important;
        }
    }

    .routing-bar {
        width: 100% !important;
    }

    .mobile-app-wrapper {
        background-color: var(--main-bg-color);
        box-shadow: 0px 0px 7px #afafaf;
        width: 100% !important;
    }

    .card-img {
        height: 250px !important;
    }

    .slick-track,
    .offer-img {
        height: 100% !important;
    }

    .slick-list {
        height: 300px !important;
    }

    .logo {
        height: 120px !important;

        .logo-img {
            width: 130px !important;
        }
    }
}


@media only screen and (max-width: 767px) {
    .category-carousel-buttons {
        display: block !important;
    }

    .slick-track,
    .offer-img {
        height: 100% !important;
    }

    .app {
        justify-content: center;
        background-color: var(--main-bg-color);
    }

    .mobile-app-wrapper {
        background-color: var(--main-bg-color);
        box-shadow: 0px 0px 7px #afafaf;
        width: 100% !important;
    }

    .img-wrapper {
        height: 200px !important;

        .category-img {
            height: 100% !important;
        }
    }

    .products {}

    .desktop-bg {
        display: none !important;
    }

    .routing-bar {
        width: 100% !important;
    }

    .card-img {
        height: 100px !important;
    }

    .img-wrapper {
        height: auto !important;

        .category-img {
            height: 200px !important;

        }

    }

    .logo {
        height: auto !important;

        .logo-img {
            width: 90px !important;
        }
    }

    .slick-track,
    .offer-img {
        height: auto !important;
    }

    .slick-list {
        height: auto !important;
    }
}

@media only screen and (max-width: 677px) {}

@media only screen and (max-width: 585px) {}

@media only screen and (max-width: 576px) {}


@media only screen and (max-width: 499px) {}