@use "./variables" as *;

// Media Queries
@mixin medium-mobile ($width) {
  @media (max-width:$width) {
    @content;
  }
}

@mixin tablet ($width) {
  @media (max-width:$width) {
    @content;
  }
}

// flex mixin
@mixin flex {
  display: flex;
  align-items: center;
}

// Button Mixins
@mixin btn {
  border: none;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  background-color: $primary-color;
  //color: $light-text-color;
  //padding: .5rem;
  width: 155px;
}

@mixin gradient-btn {
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  background: linear-gradient(95deg,
      #0fa6a4 0%,
      #14345b 100%);
  width: 155px;
  border: none;
}

@mixin word-of-btn-hover {
  font-size: 18px;
  font-weight: 600;
  // color: $primary-color;
  background: $primary-color;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin word-of-btn {
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(95deg,
      #14345b 0%,
      #0fa6a4 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: $font-regular;
}

@mixin btn-hover {
  // color: $primary-color;
  background: $main-gradient;
}



@mixin light-btn-hover {
  color: $light-text-color;
  background-color: $primary-color;
  border: 1px solid $primary-color;
}

// pointer

@mixin pointer {
  cursor: pointer;
}

// p mixins

@mixin carusel-p-befor {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color: $subtitle-Color;
  // margin-left: 10.5px;
  // margin-top: 5px;
  position: absolute;
  left: 55%;
  top: 55%;
}

@mixin p-befor {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background-color: $subtitle-Color;
  // margin-left: 10.5px;
  // margin-top: 5px;
  position: absolute;
  right: 0%;
  top: 22%;
}

@mixin img-aft {
  content: "";
  display: block;
  width: 30%;
  height: 136px;
  background-color: #1d251e;
  position: absolute;
  right: 85.5%;
  top: 42%;
  z-index: -1;
  background-image: -webkit-gradient(linear, left top, right top, from(#84FAB0), to(#8FD3F4));
  background-image: linear-gradient(90deg, #84FAB0, #8FD3F4);
}