// background
$body-Color :#860D6C;
$primary-color :#fff;
$hov-primary-color: #247434;
$secondaryDark-color :#08735D;
$secondarybg-color :#f4fbf8;
$secondaryLight-Color :#ebf9f2;
$footer-bg-color: #ECF3FB;
$greenColor: #2C9448;
$darkGreenColor: #005430;
$yellowColor: #D69A2B;
$blueColor: #14345B;
$grayColor: #3F4044;
$textGrayColor: #75777f;
$lightGrayColor: #D8D9DC;
$lightGrayColor-2: #F7F7F8;
$darkBlue: #0A1B2F;
$blueIcon: #112B4A;
$babyBlue: #649CE1;
$darkBabyBlue: #3275C7;
$brownColor: #614512;
$lightGreenColor: #38B95A;
$darkGreenColorText: #164523;

//  text
$black-color: #131316;
$section-title-Color :#0A1B2F;
$baby-Blue-text :#ABC8EB;
$subtitle-Color :#555862;
$light-text-color: #fff;
// $main-padding: 0 6.5% 0 6.5%;
$main-letter-spacing: 1.5;

// fonts
$font-regular: "mainFont-regular";
$font-bold: "mainFont-bold";
$font-thin: "mainFont-thin";
$font-section: "sectionFont";
$font-section-bold: "sectionFontBold";

// colors
$main-gradient: linear-gradient(95deg,
    #14345b 0%,
    #0fa6a4 100%);

// margin & padding
$margin-inline: 2rem;
$padding-inline: 2rem;

.dullani-section {
  padding-inline: 2rem;
}